/* dog */
.diversityEmojiItemImage_a45a2a[src='/assets/63eeb1be5a56dd59.svg'], .diversityEmojiItemImage_a45a2a[style*='background-image: url("/assets/63eeb1be5a56dd59.svg")'], 
.image__1859b[src='/assets/63eeb1be5a56dd59.svg'], .image__1859b[style*='background-image: url("/assets/63eeb1be5a56dd59.svg")'], 
.emoji__045fa[src='/assets/63eeb1be5a56dd59.svg'], .emoji__045fa[style*='background-image: url("/assets/63eeb1be5a56dd59.svg")'], 
.emojiImage__13533[src='/assets/63eeb1be5a56dd59.svg'], .emojiImage__13533[style*='background-image: url("/assets/63eeb1be5a56dd59.svg")'], 
.icon_c1e9c4[src='/assets/63eeb1be5a56dd59.svg'], .icon_c1e9c4[style*='background-image: url("/assets/63eeb1be5a56dd59.svg")'], 
.icon_f563df[src='/assets/63eeb1be5a56dd59.svg'], .icon_f563df[style*='background-image: url("/assets/63eeb1be5a56dd59.svg")'], 
.emoji_cc2dff[src='/assets/63eeb1be5a56dd59.svg'], .emoji_cc2dff[style*='background-image: url("/assets/63eeb1be5a56dd59.svg")'], 
.emoji__01c8c[src='/assets/63eeb1be5a56dd59.svg'], .emoji__01c8c[style*='background-image: url("/assets/63eeb1be5a56dd59.svg")'], 
.roleIcon__1e6f1[src='/assets/63eeb1be5a56dd59.svg'], .roleIcon__1e6f1[style*='background-image: url("/assets/63eeb1be5a56dd59.svg")'], 
.emoji[src='/assets/63eeb1be5a56dd59.svg'], .emoji[style*='background-image: url("/assets/63eeb1be5a56dd59.svg")'] {
	background: transparent !important;
	content: url("https://diridam.netlify.app/yahoocord/108.gif") !important;
}

/* pig */
.diversityEmojiItemImage_a45a2a[src='/assets/f9f1fd47635927c5.svg'], .diversityEmojiItemImage_a45a2a[style*='background-image: url("/assets/f9f1fd47635927c5.svg")'], 
.image__1859b[src='/assets/f9f1fd47635927c5.svg'], .image__1859b[style*='background-image: url("/assets/f9f1fd47635927c5.svg")'], 
.emoji__045fa[src='/assets/f9f1fd47635927c5.svg'], .emoji__045fa[style*='background-image: url("/assets/f9f1fd47635927c5.svg")'], 
.emojiImage__13533[src='/assets/f9f1fd47635927c5.svg'], .emojiImage__13533[style*='background-image: url("/assets/f9f1fd47635927c5.svg")'], 
.icon_c1e9c4[src='/assets/f9f1fd47635927c5.svg'], .icon_c1e9c4[style*='background-image: url("/assets/f9f1fd47635927c5.svg")'], 
.icon_f563df[src='/assets/f9f1fd47635927c5.svg'], .icon_f563df[style*='background-image: url("/assets/f9f1fd47635927c5.svg")'], 
.emoji_cc2dff[src='/assets/f9f1fd47635927c5.svg'], .emoji_cc2dff[style*='background-image: url("/assets/f9f1fd47635927c5.svg")'], 
.emoji__01c8c[src='/assets/f9f1fd47635927c5.svg'], .emoji__01c8c[style*='background-image: url("/assets/f9f1fd47635927c5.svg")'], 
.roleIcon__1e6f1[src='/assets/f9f1fd47635927c5.svg'], .roleIcon__1e6f1[style*='background-image: url("/assets/f9f1fd47635927c5.svg")'], 
.emoji[src='/assets/f9f1fd47635927c5.svg'], .emoji[style*='background-image: url("/assets/f9f1fd47635927c5.svg")'] {
	background: transparent !important;
	content: url("https://diridam.netlify.app/yahoocord/49.gif") !important;
}

/* monkey_face */
.diversityEmojiItemImage_a45a2a[src='/assets/7cabdba9977a0901.svg'], .diversityEmojiItemImage_a45a2a[style*='background-image: url("/assets/7cabdba9977a0901.svg")'], 
.image__1859b[src='/assets/7cabdba9977a0901.svg'], .image__1859b[style*='background-image: url("/assets/7cabdba9977a0901.svg")'], 
.emoji__045fa[src='/assets/7cabdba9977a0901.svg'], .emoji__045fa[style*='background-image: url("/assets/7cabdba9977a0901.svg")'], 
.emojiImage__13533[src='/assets/7cabdba9977a0901.svg'], .emojiImage__13533[style*='background-image: url("/assets/7cabdba9977a0901.svg")'], 
.icon_c1e9c4[src='/assets/7cabdba9977a0901.svg'], .icon_c1e9c4[style*='background-image: url("/assets/7cabdba9977a0901.svg")'], 
.icon_f563df[src='/assets/7cabdba9977a0901.svg'], .icon_f563df[style*='background-image: url("/assets/7cabdba9977a0901.svg")'], 
.emoji_cc2dff[src='/assets/7cabdba9977a0901.svg'], .emoji_cc2dff[style*='background-image: url("/assets/7cabdba9977a0901.svg")'], 
.emoji__01c8c[src='/assets/7cabdba9977a0901.svg'], .emoji__01c8c[style*='background-image: url("/assets/7cabdba9977a0901.svg")'], 
.roleIcon__1e6f1[src='/assets/7cabdba9977a0901.svg'], .roleIcon__1e6f1[style*='background-image: url("/assets/7cabdba9977a0901.svg")'], 
.emoji[src='/assets/7cabdba9977a0901.svg'], .emoji[style*='background-image: url("/assets/7cabdba9977a0901.svg")'] {
	background: transparent !important;
	content: url("https://diridam.netlify.app/yahoocord/51.gif") !important;
}

/* bug */
.diversityEmojiItemImage_a45a2a[src='/assets/cf1083ab7430f27e.svg'], .diversityEmojiItemImage_a45a2a[style*='background-image: url("/assets/cf1083ab7430f27e.svg")'], 
.image__1859b[src='/assets/cf1083ab7430f27e.svg'], .image__1859b[style*='background-image: url("/assets/cf1083ab7430f27e.svg")'], 
.emoji__045fa[src='/assets/cf1083ab7430f27e.svg'], .emoji__045fa[style*='background-image: url("/assets/cf1083ab7430f27e.svg")'], 
.emojiImage__13533[src='/assets/cf1083ab7430f27e.svg'], .emojiImage__13533[style*='background-image: url("/assets/cf1083ab7430f27e.svg")'], 
.icon_c1e9c4[src='/assets/cf1083ab7430f27e.svg'], .icon_c1e9c4[style*='background-image: url("/assets/cf1083ab7430f27e.svg")'], 
.icon_f563df[src='/assets/cf1083ab7430f27e.svg'], .icon_f563df[style*='background-image: url("/assets/cf1083ab7430f27e.svg")'], 
.emoji_cc2dff[src='/assets/cf1083ab7430f27e.svg'], .emoji_cc2dff[style*='background-image: url("/assets/cf1083ab7430f27e.svg")'], 
.emoji__01c8c[src='/assets/cf1083ab7430f27e.svg'], .emoji__01c8c[style*='background-image: url("/assets/cf1083ab7430f27e.svg")'], 
.roleIcon__1e6f1[src='/assets/cf1083ab7430f27e.svg'], .roleIcon__1e6f1[style*='background-image: url("/assets/cf1083ab7430f27e.svg")'], 
.emoji[src='/assets/cf1083ab7430f27e.svg'], .emoji[style*='background-image: url("/assets/cf1083ab7430f27e.svg")'] {
	background: transparent !important;
	content: url("https://diridam.netlify.app/yahoocord/60.gif") !important;
}

/* cow2 */
.diversityEmojiItemImage_a45a2a[src='/assets/685ff7f7058245dc.svg'], .diversityEmojiItemImage_a45a2a[style*='background-image: url("/assets/685ff7f7058245dc.svg")'], 
.image__1859b[src='/assets/685ff7f7058245dc.svg'], .image__1859b[style*='background-image: url("/assets/685ff7f7058245dc.svg")'], 
.emoji__045fa[src='/assets/685ff7f7058245dc.svg'], .emoji__045fa[style*='background-image: url("/assets/685ff7f7058245dc.svg")'], 
.emojiImage__13533[src='/assets/685ff7f7058245dc.svg'], .emojiImage__13533[style*='background-image: url("/assets/685ff7f7058245dc.svg")'], 
.icon_c1e9c4[src='/assets/685ff7f7058245dc.svg'], .icon_c1e9c4[style*='background-image: url("/assets/685ff7f7058245dc.svg")'], 
.icon_f563df[src='/assets/685ff7f7058245dc.svg'], .icon_f563df[style*='background-image: url("/assets/685ff7f7058245dc.svg")'], 
.emoji_cc2dff[src='/assets/685ff7f7058245dc.svg'], .emoji_cc2dff[style*='background-image: url("/assets/685ff7f7058245dc.svg")'], 
.emoji__01c8c[src='/assets/685ff7f7058245dc.svg'], .emoji__01c8c[style*='background-image: url("/assets/685ff7f7058245dc.svg")'], 
.roleIcon__1e6f1[src='/assets/685ff7f7058245dc.svg'], .roleIcon__1e6f1[style*='background-image: url("/assets/685ff7f7058245dc.svg")'], 
.emoji[src='/assets/685ff7f7058245dc.svg'], .emoji[style*='background-image: url("/assets/685ff7f7058245dc.svg")'] {
	background: transparent !important;
	content: url("https://diridam.netlify.app/yahoocord/50.gif") !important;
}

/* four_leaf_clover */
.diversityEmojiItemImage_a45a2a[src='/assets/2d36717760f070cc.svg'], .diversityEmojiItemImage_a45a2a[style*='background-image: url("/assets/2d36717760f070cc.svg")'], 
.image__1859b[src='/assets/2d36717760f070cc.svg'], .image__1859b[style*='background-image: url("/assets/2d36717760f070cc.svg")'], 
.emoji__045fa[src='/assets/2d36717760f070cc.svg'], .emoji__045fa[style*='background-image: url("/assets/2d36717760f070cc.svg")'], 
.emojiImage__13533[src='/assets/2d36717760f070cc.svg'], .emojiImage__13533[style*='background-image: url("/assets/2d36717760f070cc.svg")'], 
.icon_c1e9c4[src='/assets/2d36717760f070cc.svg'], .icon_c1e9c4[style*='background-image: url("/assets/2d36717760f070cc.svg")'], 
.icon_f563df[src='/assets/2d36717760f070cc.svg'], .icon_f563df[style*='background-image: url("/assets/2d36717760f070cc.svg")'], 
.emoji_cc2dff[src='/assets/2d36717760f070cc.svg'], .emoji_cc2dff[style*='background-image: url("/assets/2d36717760f070cc.svg")'], 
.emoji__01c8c[src='/assets/2d36717760f070cc.svg'], .emoji__01c8c[style*='background-image: url("/assets/2d36717760f070cc.svg")'], 
.roleIcon__1e6f1[src='/assets/2d36717760f070cc.svg'], .roleIcon__1e6f1[style*='background-image: url("/assets/2d36717760f070cc.svg")'], 
.emoji[src='/assets/2d36717760f070cc.svg'], .emoji[style*='background-image: url("/assets/2d36717760f070cc.svg")'] {
	background: transparent !important;
	content: url("https://diridam.netlify.app/yahoocord/54.gif") !important;
}

/* rose */
.diversityEmojiItemImage_a45a2a[src='/assets/b6069ce12f226e59.svg'], .diversityEmojiItemImage_a45a2a[style*='background-image: url("/assets/b6069ce12f226e59.svg")'], 
.image__1859b[src='/assets/b6069ce12f226e59.svg'], .image__1859b[style*='background-image: url("/assets/b6069ce12f226e59.svg")'], 
.emoji__045fa[src='/assets/b6069ce12f226e59.svg'], .emoji__045fa[style*='background-image: url("/assets/b6069ce12f226e59.svg")'], 
.emojiImage__13533[src='/assets/b6069ce12f226e59.svg'], .emojiImage__13533[style*='background-image: url("/assets/b6069ce12f226e59.svg")'], 
.icon_c1e9c4[src='/assets/b6069ce12f226e59.svg'], .icon_c1e9c4[style*='background-image: url("/assets/b6069ce12f226e59.svg")'], 
.icon_f563df[src='/assets/b6069ce12f226e59.svg'], .icon_f563df[style*='background-image: url("/assets/b6069ce12f226e59.svg")'], 
.emoji_cc2dff[src='/assets/b6069ce12f226e59.svg'], .emoji_cc2dff[style*='background-image: url("/assets/b6069ce12f226e59.svg")'], 
.emoji__01c8c[src='/assets/b6069ce12f226e59.svg'], .emoji__01c8c[style*='background-image: url("/assets/b6069ce12f226e59.svg")'], 
.roleIcon__1e6f1[src='/assets/b6069ce12f226e59.svg'], .roleIcon__1e6f1[style*='background-image: url("/assets/b6069ce12f226e59.svg")'], 
.emoji[src='/assets/b6069ce12f226e59.svg'], .emoji[style*='background-image: url("/assets/b6069ce12f226e59.svg")'] {
	background: transparent !important;
	content: url("https://diridam.netlify.app/yahoocord/53.gif") !important;
}

/* star */
.diversityEmojiItemImage_a45a2a[src='/assets/6dcab1360be157d5.svg'], .diversityEmojiItemImage_a45a2a[style*='background-image: url("/assets/6dcab1360be157d5.svg")'], 
.image__1859b[src='/assets/6dcab1360be157d5.svg'], .image__1859b[style*='background-image: url("/assets/6dcab1360be157d5.svg")'], 
.emoji__045fa[src='/assets/6dcab1360be157d5.svg'], .emoji__045fa[style*='background-image: url("/assets/6dcab1360be157d5.svg")'], 
.emojiImage__13533[src='/assets/6dcab1360be157d5.svg'], .emojiImage__13533[style*='background-image: url("/assets/6dcab1360be157d5.svg")'], 
.icon_c1e9c4[src='/assets/6dcab1360be157d5.svg'], .icon_c1e9c4[style*='background-image: url("/assets/6dcab1360be157d5.svg")'], 
.icon_f563df[src='/assets/6dcab1360be157d5.svg'], .icon_f563df[style*='background-image: url("/assets/6dcab1360be157d5.svg")'], 
.emoji_cc2dff[src='/assets/6dcab1360be157d5.svg'], .emoji_cc2dff[style*='background-image: url("/assets/6dcab1360be157d5.svg")'], 
.emoji__01c8c[src='/assets/6dcab1360be157d5.svg'], .emoji__01c8c[style*='background-image: url("/assets/6dcab1360be157d5.svg")'], 
.roleIcon__1e6f1[src='/assets/6dcab1360be157d5.svg'], .roleIcon__1e6f1[style*='background-image: url("/assets/6dcab1360be157d5.svg")'], 
.emoji[src='/assets/6dcab1360be157d5.svg'], .emoji[style*='background-image: url("/assets/6dcab1360be157d5.svg")'] {
	background: transparent !important;
	content: url("https://diridam.netlify.app/yahoocord/79.gif") !important;
}