/* watch */
.diversityEmojiItemImage_a45a2a[src='/assets/6722b269d41a3c5d.svg'], .diversityEmojiItemImage_a45a2a[style*='background-image: url("/assets/6722b269d41a3c5d.svg")'], 
.image__1859b[src='/assets/6722b269d41a3c5d.svg'], .image__1859b[style*='background-image: url("/assets/6722b269d41a3c5d.svg")'], 
.emoji__045fa[src='/assets/6722b269d41a3c5d.svg'], .emoji__045fa[style*='background-image: url("/assets/6722b269d41a3c5d.svg")'], 
.emojiImage__13533[src='/assets/6722b269d41a3c5d.svg'], .emojiImage__13533[style*='background-image: url("/assets/6722b269d41a3c5d.svg")'], 
.icon_c1e9c4[src='/assets/6722b269d41a3c5d.svg'], .icon_c1e9c4[style*='background-image: url("/assets/6722b269d41a3c5d.svg")'], 
.icon_f563df[src='/assets/6722b269d41a3c5d.svg'], .icon_f563df[style*='background-image: url("/assets/6722b269d41a3c5d.svg")'], 
.emoji_cc2dff[src='/assets/6722b269d41a3c5d.svg'], .emoji_cc2dff[style*='background-image: url("/assets/6722b269d41a3c5d.svg")'], 
.emoji__01c8c[src='/assets/6722b269d41a3c5d.svg'], .emoji__01c8c[style*='background-image: url("/assets/6722b269d41a3c5d.svg")'], 
.roleIcon__1e6f1[src='/assets/6722b269d41a3c5d.svg'], .roleIcon__1e6f1[style*='background-image: url("/assets/6722b269d41a3c5d.svg")'], 
.emoji[src='/assets/6722b269d41a3c5d.svg'], .emoji[style*='background-image: url("/assets/6722b269d41a3c5d.svg")'] {
	background: transparent !important;
	content: url("https://diridam.netlify.app/yahoocord/110.gif") !important;
}

/* telephone_receiver */
.diversityEmojiItemImage_a45a2a[src='/assets/bbcaae02da54bb69.svg'], .diversityEmojiItemImage_a45a2a[style*='background-image: url("/assets/bbcaae02da54bb69.svg")'], 
.image__1859b[src='/assets/bbcaae02da54bb69.svg'], .image__1859b[style*='background-image: url("/assets/bbcaae02da54bb69.svg")'], 
.emoji__045fa[src='/assets/bbcaae02da54bb69.svg'], .emoji__045fa[style*='background-image: url("/assets/bbcaae02da54bb69.svg")'], 
.emojiImage__13533[src='/assets/bbcaae02da54bb69.svg'], .emojiImage__13533[style*='background-image: url("/assets/bbcaae02da54bb69.svg")'], 
.icon_c1e9c4[src='/assets/bbcaae02da54bb69.svg'], .icon_c1e9c4[style*='background-image: url("/assets/bbcaae02da54bb69.svg")'], 
.icon_f563df[src='/assets/bbcaae02da54bb69.svg'], .icon_f563df[style*='background-image: url("/assets/bbcaae02da54bb69.svg")'], 
.emoji_cc2dff[src='/assets/bbcaae02da54bb69.svg'], .emoji_cc2dff[style*='background-image: url("/assets/bbcaae02da54bb69.svg")'], 
.emoji__01c8c[src='/assets/bbcaae02da54bb69.svg'], .emoji__01c8c[style*='background-image: url("/assets/bbcaae02da54bb69.svg")'], 
.roleIcon__1e6f1[src='/assets/bbcaae02da54bb69.svg'], .roleIcon__1e6f1[style*='background-image: url("/assets/bbcaae02da54bb69.svg")'], 
.emoji[src='/assets/bbcaae02da54bb69.svg'], .emoji[style*='background-image: url("/assets/bbcaae02da54bb69.svg")'] {
	background: transparent !important;
	content: url("https://dirid.am/yahoocord/100.gif") !important;
}

/* bulb */
.diversityEmojiItemImage_a45a2a[src='/assets/2aa9dc22c1984b01.svg'], .diversityEmojiItemImage_a45a2a[style*='background-image: url("/assets/2aa9dc22c1984b01.svg")'], 
.image__1859b[src='/assets/2aa9dc22c1984b01.svg'], .image__1859b[style*='background-image: url("/assets/2aa9dc22c1984b01.svg")'], 
.emoji__045fa[src='/assets/2aa9dc22c1984b01.svg'], .emoji__045fa[style*='background-image: url("/assets/2aa9dc22c1984b01.svg")'], 
.emojiImage__13533[src='/assets/2aa9dc22c1984b01.svg'], .emojiImage__13533[style*='background-image: url("/assets/2aa9dc22c1984b01.svg")'], 
.icon_c1e9c4[src='/assets/2aa9dc22c1984b01.svg'], .icon_c1e9c4[style*='background-image: url("/assets/2aa9dc22c1984b01.svg")'], 
.icon_f563df[src='/assets/2aa9dc22c1984b01.svg'], .icon_f563df[style*='background-image: url("/assets/2aa9dc22c1984b01.svg")'], 
.emoji_cc2dff[src='/assets/2aa9dc22c1984b01.svg'], .emoji_cc2dff[style*='background-image: url("/assets/2aa9dc22c1984b01.svg")'], 
.emoji__01c8c[src='/assets/2aa9dc22c1984b01.svg'], .emoji__01c8c[style*='background-image: url("/assets/2aa9dc22c1984b01.svg")'], 
.roleIcon__1e6f1[src='/assets/2aa9dc22c1984b01.svg'], .roleIcon__1e6f1[style*='background-image: url("/assets/2aa9dc22c1984b01.svg")'], 
.emoji[src='/assets/2aa9dc22c1984b01.svg'], .emoji[style*='background-image: url("/assets/2aa9dc22c1984b01.svg")'] {
	background: transparent !important;
	content: url("https://dirid.am/yahoocord/58.gif") !important;
}